@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* rgb(229,9,20) */

.page1{
    width: 100vw;
    height: 100vh;
    border: 2px solid rgb(171, 49, 138);
    background-image: url("./images/page1-bg-img.jpg");
    /* box-shadow: 0px -23px 25px 0px rgba(0, 0, 0, 0.17) inset, 0px -36px 30px 0px rgba(0, 0, 0, 0.15) inset, 0px -79px 40px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 4px 2px rgba(0, 0, 0, 0.09),
     0px 8px 4px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09); */
    
}

.header{
    width: 100%;
    /* border: 1px solid blue; */
}

.header-content{
    width: 80%;
    /* border: 1px solid black; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    width: 150px;
    height: 100px;
}



.netflix-logo-img{
    width: 100%;
    height: 100%;
    background: rgb(229,9,20);
}

.header-buttons{
    /* border: 2px solid green; */
    display: flex;
    gap: 1.5rem;
    /* width: rem; */

}

.login-btn{
    padding: 0.5rem 1rem;
    background-color: rgb(20, 20, 20);
    border: none;
    outline: none;
    border-radius: 0.3rem;
    color: white;
    cursor: pointer;
    
}

.login-btn:hover{
    background-color: rgb(0, 0, 0);
}

.signup-btn{
    padding: 0.5rem 1rem;
    background-color: rgb(229,9,20);
    border: none;
    outline: none;
    border-radius: 0.3rem;
    color: white;
    cursor: pointer;
}

.signup-btn:hover{
    background-color: rgb(180, 10, 10);
}

.main-section{
    width: 100%;
    /* border: 2px solid blueviolet; */
}

.main-section-container{
    /* border: 1px solid black; */
    width: 80%;
    height: 80vh;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-section-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.main-section-text h1{
    font-size: 3rem;
    font-weight: 900;
    color: white;

}

.para1{
    font-size: 1.5rem;
    color: white;

}

.para2{
    font-size: 1.25rem;
    color: white;
}

.main-section-input-and-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1.2rem;
}

.main-sec-input{
    width: 400px;
    height: 50px;
    outline: none;
    border-radius: 0.2rem;
    border: 1px solid grey;
    font-size: 1rem;
    /* margin-left: 1rem; */
    text-align: center;
    background-color: transparent;
    color: white;
    box-shadow: 0px -23px 25px 0px rgba(0, 0, 0, 0.17) inset,
     0px -36px 30px 0px rgba(0, 0, 0, 0.15) inset, 
     0px -79px 40px 0px rgba(0, 0, 0, 0.1) inset, 
     0px 2px 1px rgba(0, 0, 0, 0.06), 0px 4px 2px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09);

}

.main-sec-btn{
    background-color: rgb(229,9,20);
    border: none;
    outline: none;
    border-radius: 0.3rem;
    color: white;
    cursor: pointer;
    width: 160px;
    height: 50px;
    font-size: 1.3rem;
    font-weight: 600;

}

.page2{
    width: 100%;
    border: 1px solid red;
    background-color: rgb(31, 31, 31);
}

.secnod-sec-full-width{
    margin: 1rem 0;
    width: 100%;
    border: 1px solid blue;
    background-color: black;
}

.second-sec-container{
    width: 80%;
    border: 2px solid purple;
    margin: 0 auto;
    display: flex;
}

.left-content{
    width: 50%;
    border:  1px solid yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.second-sec-heading{
    font-size: 3rem;
    font-weight: 900;
    color: white;
}

.second-sec-para{
    font-size: 1.3rem;
    font-weight: 500;
    color: white;


}

.right-content{
    width: 50%;
    border:  1px solid rgb(58, 118, 59);
}

.second-sec-img-container{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid green;
}



.video1{
    width: 75%;
    height: 100%;
    /* border: 1px solid grey; */
    /* position: relative; */
    /* z-index: 99; */
}

/* .video1{
    position: absolute;
    top: 120vh;
    right: 13rem; 
    width: 444px;
    display: grid;
}   */

#third-sec-container{
    border: 2px solid red;
}

.tv-img{
    width: 100%;
    height: 100%;
}

.frequently-asked-sec{
    width: 100%;
    border: 2px solid fuchsia;
    background-color: black;
}

.frequently-asked-conatiner{
    width: 80%;
    border: 2px solid rgb(25, 15, 209);
    margin: 0 auto;

}

.frequently-heading{
    text-align: center;
    margin: 1.5rem 0;
    color: white;
    font-size: 3rem;
    /* font-weight: 1200; */
}

.frequently-asked-grid-container{
    display: grid;
    gap: 0.7rem;
}

.questions{
    background-color: rgb(58, 56, 56);
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    font-size: 1.5rem;
    color: white;
}

.questions:hover{
    background-color: rgb(78, 75, 75);
}

.plus-sign{
    /* align-items: center; */
    
    font-size: 1.5rem;
    cursor: pointer;
    /* background-color: brown; */
    /* margin: 1rem; */
}

.frequently-para{
    color: white;
    margin-top: 2rem ;
    text-align: center;
    font-size: 1.2rem;
}








@media screen and (max-width:444px) {
    .header-content{
        flex-direction: column;
        gap: 0.7rem;
    }
}

@media screen and (max-width:768px) {
    .main-section-input-and-btn{
        flex-direction: column;
    }

    
  .main-section-text h1{
    font-size: 1.5rem;
    font-weight: 900;
  }

   .para1{
    font-size: 1rem;
  }

  .para2{
    font-size: 0.75rem;
  }

  .main-sec-input{
    width: 250px;
    height: 50px;
  }

 .main-sec-btn{
   width: 100px;
   height: 40px;
   font-size: 0.9rem;
  }

  .second-sec-container{
    flex-direction: column;
  }

  #third-sec-container{
    flex-direction: column-reverse;
  }

  .left-content{
    width: 100%;
    text-align: center;
  }

  .right-content{
    width: 100%;
  }

  .second-sec-heading{
    font-size: 2rem;
  }

  .second-sec-para{
    font-size: 1.12rem;
  }

  .frequently-heading{
    font-size: 2rem;
  }

  .questions{
    font-size: 1rem;
    padding: 0.7rem;
  }
}
